version: '2'

services:
    proxy:
        restart: always
        expose:
            - "80"
        ports:
            - "80:80"
        build: proxy
        container_name: proxy
        volumes:
            - proxy:/etc/apache2/
        networks:
            - frontend
            - backend

    portainer:
        container_name: portainer
        expose:
            - "9000"
        ports:
            - "9000:9000"
        image: portainer/portainer
        container_name: portainer
        volumes:
            - /var/run/docker.sock:/var/run/docker.sock
            - portainer:/data portainer/portainer
        networks:
            - frontend

    fhem:
        restart: always
        expose:
            - "7072"
            - "8083"
            - "8383"
            - "2121"
        ports:
            - "2121:2121"
        build: fhem
        container_name: fhem
        privileged: true
        devices:
          - "/dev/ttyUSB0:/dev/ttyUSB0"
          - "/dev/ttyACM0:/dev/ttyACM0"
        volumes:
            - fhem:/opt/fhem
        networks:
            - backend
            - database
        depends_on:
            - "mysql"
            - "proxy"

    homebridge:
        restart: always
        expose:
            - "51826"
            - "8282"
            - "5353"
        ports:
            - "51826:51826"
            - "8282:8282"
            - "5353:5353"
        build: homebridge
        container_name: homebridge
        volumes:
            - homebridge:/root
        network_mode: host
        depends_on:
            - "fhem"

    habridge:
        restart: always
        expose:
            - "8888"
        ports:
            - "8888:8888"
        build: habridge
        container_name: habridge
        volumes:
            - habridge:/config
        network_mode: host
        depends_on:
            - "fhem"

### Temporary removed ###
#    smartvisu:
#        restart: always
#        expose:
#            - "80"
#        build: smartvisu
#        container_name: smartvisu
#        volumes:
#            - smartvisu:/usr/share/nginx
#        networks:
#            - backend
#        depends_on:
#            - "fhem"

    mysql:
        restart: always
        expose:
            - "3306"
            - "33060"
        image: mysql/mysql-server:5.7
        container_name: mysql
        volumes:
            - ./mysql/init.sql:/docker-entrypoint-initdb.d/fhem-init.sql
            - mysql:/var/lib/mysql
        environment:
            - MYSQL_RANDOM_ROOT_PASSWORD=yes
        networks:
            - database

    mqtt:
        restart: always
        expose:
            - "1883"
            - "9001"
        ports:
            - "1883:1883"
            - "9001:9001"
        image: toke/mosquitto
        container_name: mqtt
        networks:
            - frontend
            - backend
        volumes:
            - mqtt:/mqtt

    nodered:
        restart: always
        expose:
            - "1880"
        ports:
            - "1880:1880"
        image: nodered/node-red-docker:0.17.5
        container_name: nodered
        volumes:
            - nodered:/data
        networks:
            - frontend
            - backend
        depends_on:
            - "mqtt"

networks:
    frontend:
        driver: bridge
    backend:
        driver: bridge
    database:
        driver: bridge

volumes:
    fhem:
    mysql:
    homebridge:
    proxy:
    habridge:
    smartvisu:
    nodered:
    mqtt:
    portainer:
