attr global userattr DbLogExclude DbLogInclude alexaName alexaRoom cmdIcon devStateIcon devStateStyle genericDeviceType:security,ignore,switch,outlet,light,blind,thermometer,thermostat,contact,garage,window,lock homebridgeMapping:textField-long icon sortby webCmd widgetOverride
attr global autoload_undefined_devices 1
attr global icon it_network
attr global logfile -
attr global modpath .
attr global motd none
attr global nofork 1
attr global perlSyntaxCheck 1
attr global room System
attr global sendStatistics onUpdate
attr global statefile ./log/fhem.save
attr global updateInBackground 0
attr global verbose 2

define telnetPort telnet 7072 global
attr telnetPort room System

define WEB FHEMWEB 8083 global
attr WEB JavaScripts codemirror/fhem_codemirror.js
attr WEB confirmDelete 0
attr WEB editConfig 1
attr WEB icon it_i-net
attr WEB longpoll 1
attr WEB plotWeekStartDay 1
attr WEB room System
attr WEB stylesheetPrefix dark
attr WEB title FHEM Docker
# attr WEB roomIcons Homekit:audio_audio Log:edit_paste System:it_network Save.config:message_attention Everything:it_i-net Unsorted:unknown Commandref:system_fhem Remote.doc:message_mail Edit.files:edit_copy Select.style:edit_open Event.monitor:edit_settings

define WEBhabridge FHEMWEB 8383 global
attr WEBhabridge csrfToken none
attr WEBhabridge editConfig 0
attr WEBhabridge icon it_i-net
attr WEBhabridge longpoll websocket
attr WEBhabridge room System

define allowed_WEBhabridge allowed
attr allowed_WEBhabridge allowedCommands get,set
attr allowed_WEBhabridge room System
attr allowed_WEBhabridge validFor WEBhabridge

define TABLETUI HTTPSRV ftui/ ./www/tablet Tablet-UI
attr TABLETUI room System

# Fake FileLog entry, to access the fhem log from FHEMWEB
define Logfile FileLog ./log/fhem-%Y-%m.log fakelog
attr Logfile icon edit_paste
attr Logfile room Log

define autocreate autocreate
attr autocreate filelog ./log/%NAME-%Y.log
attr autocreate room System

define eventTypes eventTypes ./log/eventTypes.txt
attr eventTypes room System

# Disable this to avoid looking for new USB devices on startup
define initialUsbCheck notify global:INITIALIZED usb create
attr initialUsbCheck room System

define DBLogging DbLog /opt/fhem/contrib/dblog/db.conf .*:.*
attr DBLogging icon time_note
attr DBLogging room Log

define DBLogging_Reopen at +*00:15:00 set DBLogging reopen
attr DBLogging_Reopen room Log

define testSwitch dummy
attr testSwitch genericDeviceType switch
attr testSwitch room Alexa,Homekit
attr testSwitch setList on off
attr testSwitch webCmd on:off

define ZWAVE_USB ZWDongle /dev/ttyACM0@115200
attr ZWAVE_USB icon cul_usb
attr ZWAVE_USB room Z-WAVE

define nanoCUL868 CUL /dev/ttyUSB0@38400 1234
attr nanoCUL868 hmId 8D2D0C
attr nanoCUL868 icon cul_868
attr nanoCUL868 rfmode HomeMatic
attr nanoCUL868 room HOMEMATIC

define myCCU CUL_HM 8D2D0C
attr myCCU IODev nanoCUL868
attr myCCU IOList nanoCUL868
attr myCCU expert 2_raw
attr myCCU model CCU-FHEM
attr myCCU room HOMEMATIC
attr myCCU subType virtual
attr myCCU webCmd virtual:update

define ActionDetector CUL_HM 000000
attr ActionDetector event-on-change-reading .*
attr ActionDetector model ActionDetector
attr ActionDetector room HOMEMATIC

define MyAlexa alexa
attr MyAlexa alexaMapping #Characteristic=<name>=<value>,...\
On=verb=schalte,valueOn=an;;ein,valueOff=aus,valueToggle=um\
\
Brightness=verb=stelle,property=helligkeit,valuePrefix=auf,values=AMAZON.NUMBER,valueSuffix=prozent\
\
Hue=verb=stelle,valuePrefix=auf,values=rot:0;;grün:128;;blau:200\
Hue=verb=färbe,values=rot:0;;grün:120;;blau:220\
\
Saturation=verb=stelle,property=sättigung,valuePrefix=auf,values=AMAZON.NUMBER\
Saturation=verb=sättige,values=AMAZON.NUMBER\
\
TargetPosition=verb=mach,articles=den,values=auf:100;;zu:0\
TargetPosition=verb=stelle,valuePrefix=auf,values=AMAZON.NUMBER,valueSuffix=prozent\
\
TargetTemperature=verb=stelle,valuePrefix=auf,values=AMAZON.NUMBER,valueSuffix=grad\
\
Volume:verb=stelle,valuePrefix=auf,values=AMAZON.NUMBER,valueSuffix=prozent\
\
#Weckzeit=verb=stelle,valuePrefix=auf;;für,values=AMAZON.TIME,valueSuffix=uhr
attr MyAlexa alexaTypes #Type=<alias>[,<alias2>[,...]]\
light=licht,lampen\
blind=rolladen,rolläden,jalousie,jalousien,rollo,rollos
attr MyAlexa fhemIntents #IntentName=<sample utterance>\
gutenMorgen=guten morgen\
guteNacht=gute nacht
attr MyAlexa room System
define Alexa.Party dummy
attr Alexa.Party alexaName party
attr Alexa.Party genericDeviceType switch
attr Alexa.Party room Alexa
attr Alexa.Party setList on off
